.summary_container {
  width: 100%;
  max-width: 50%;
  margin: 2rem auto;
  padding: 0 1rem;
}

.summary {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  backdrop-filter: blur(8px);
  color: var(--black);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  overflow: hidden;
}

.summary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(110deg, var(--card-color), transparent);
  opacity: 0.4;
  z-index: -1;
}

.summary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--card-color);
  opacity: 0.15;
  z-index: -2;
}

.summary_item {
  text-align: center;
  flex: 1;
}

.summary__label {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  border-radius: 0.5rem;
  color: var(--black);
  margin-bottom: 0.8rem;
}

.summary__value {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text-primary);
  margin-top: 1.2rem;
}

.summary__value--in {
  color: var(--color-primary-darker);
}

.summary__value--out {
  color: var(--color-tertiary-darker);
}

.summary__value--interest {
  color: var(--color-secondary-darker);
}

@media (max-width: 768px) {
  .summary {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }

  .summary_item {
    width: 100%;
  }
}
