.card_info {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  color: var(--black);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  height: 2.4rem;
}

.card_type {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black);
  line-height: 2.4rem;
  display: flex;
  align-items: center;
}

.details_btn {
  font-size: 1.4rem;
  color: var(--color-primary);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  font-family: "Montserrat", sans-serif;
  line-height: 2.4rem;
}

.details_btn:hover {
  background: rgba(var(--color-primary-rgb), 0.1);
}

.main_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  height: 3rem;
  margin-left: 2rem;
}

.balance {
  font-size: 2.4rem;
  font-weight: 600;
}

.number_container {
  font-size: 2rem;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  padding: 0;
  border-radius: 0.5rem;
  transition: all 0.3s;
  margin: 0;
}

.number_container:hover {
  background: rgba(255, 255, 255, 0.1);
}

.copied_tooltip {
  position: absolute;
  background: var(--black);
  color: var(--white);
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  white-space: nowrap;
  z-index: 10;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.cvv_container {
  position: relative;
}

.security_info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem 0;
}

.expiry,
.cvv_container {
  font-size: 1.6rem;
}

.cvv_container {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  min-width: 4.5rem;
  text-align: center;
  display: inline-block;
}

.cvv_container:not(.revealed) {
  background: rgba(255, 255, 255, 0.2);
  transition: background 0.3s, transform 0.3s;
}

.cvv_container:not(.revealed):hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.cvv_label {
  color: var(--color-text-primary);
  margin-right: 0.5rem;
  font-size: 1.4rem;
}

.balance_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  height: 2.4rem;
}

.balance_label {
  font-size: 1.4rem;
  color: var(--black);
  line-height: 2.4rem;
}

.balance_amount {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 2rem;
  line-height: 2.4rem;
  color: var(--black);
}

.content {
  display: flex;
  justify-content: space-between;
}

.info_column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info_column:first-child {
  flex: 1;
}

.info_column:last-child {
  justify-content: flex-start;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
